@media (max-width:1060px){
    .about-us__photo{
        width:45vw ;
        height: 45vw;

    }
}
@media (max-width:992px) {
    .nav__links {
        gap: 32px;
    }
    .header__elements{
        flex-direction: column-reverse;
       
        align-items: center;
    }
    .header__photo{
        max-width: 600px;
    }
    .header__info{
        text-align: center;
    }
    .header__text{
        justify-content: center;
    }
    header{
        padding-bottom: 60px;
    }
    .about-us__elements{
        flex-direction: column-reverse;

    }
    .about-us__photo_one{
        display: none;
    }
    .about-us__photo_two{
        display: block;
        margin-bottom: 20px;
    }
    .about-us__info{
        text-align: center;
    }
    .benefit-block__info{
        text-align: left;

    }
    .about-us__info >p{
        margin-bottom: 80px;
    }
    .about-us__photo{
        width: 60vw;
        height: 60vw;
        margin: 0 auto 20px ;
    }
    .benefit-block{
        width: 60vw;
        margin: auto;
        max-width: 100%;
    }
}

@media (max-width:768px) {
    .nav__links {
        background-color: var(--color3);
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        padding-top: 20vh;
        transform: translateX(100%);
        transition: 0.5s;
        transition-timing-function: cubic-bezier(0.92, -0.49, 0.7, 1.6);
    }
    .nav__links_active{
        transform: translateX(0);

    }


    .nav__links a {
        color: var(--color1);
    }

    .nav__button {
        transform: translateX(100%);
        position: fixed;
        bottom: 10vh;
        left: 0;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        transition: 0.5s;
        transition-timing-function: cubic-bezier(0.92, -0.49, 0.7, 1.6);


    }
    .nav__button_active{
        transform: translateX(0);
        
    }

    .nav__hamburger{
        display: block;
    }
    .about-us__photo{
        width: calc(100vw - 40px);
        height: calc(100vw - 40px);
        max-width: 500px;
        max-height: 500px;
       
    }
    .benefit-block {
        width: 100%;
        max-width: 500px;
    }
    
}
@media (max-width:575px) {
    .header__info h1{
        font-size: 10vw;
    }
    .header__text p , .header__text span{
        font-size: 24px;
    }
    .header__info{
        min-width: 100%;
    }
}